.main-header, .protocol-header{
    display: flex;
    align-items: center;
    height: 92px;
    padding: 16px;
    box-sizing: border-box;

    img{
        cursor: pointer;
    }
    ul{
        display: flex;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        height: 60px;

        li{
            margin: 0 12px 0 15px;

            &.lang{
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: #1863A6;

                a{
                    color: #ffffff;
                    font-size: 12px;
                    line-height: 30px;
                    display: block;
                    text-align: center;
                    border-radius: 30px;
                    
                }
                &:hover{
                    background: rgba(24, 99, 166, 0.7);

                    a{
                        color: #ffffff;
                    }
                }
            }
            a{
                color: #1863A6;
                cursor: pointer;

                &:hover{
                    color: rgba(24, 99, 166, 0.7);
                }
            }
            &.active a{
                border-bottom: 1px solid #1863A6;
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .main-header, .protocol-header{
        ul{
            font-size: 16px;
        }
    }
}
@media screen and (min-width: 850px) and (max-width: 900px) {
    .main-header, .protocol-header{
        ul{
            font-size: 15px;
        }
    }
}