.phone-process-list{
  position: relative;
  margin: 50px auto 0;

  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    li{
      position: relative;

      b{
        width: 12px;
        height: 12px;
        display: block;
        position: relative;
        border-radius: 12px;
        border: 2px solid #1863A6;
        box-sizing: border-box;
        position: relative;

        .line{
          position: absolute;
          height: 50px;
          width: 0px;
          border: 2px solid #1863A6;
          left: 2px;
          top: 9px;
        }
      }
      span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #1863A6;
        position: absolute;
        transform: translate(-50% + 8);
      }
      p{
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        text-align: right;
        color: #1863A6;
        position: absolute;
        transform: translate(-50% + 6);
        width: 150px;
      }
      &.down{
        
        span{
          right: 0px;
          top: -1px;
        }
        p{
          right: -41px;
          bottom: 18px;
        }
      }
      &.up{
        
        span{
          left: 48px;
          top: -1px;
        }
        p{
          left: 90px;
          bottom: 18px;
          text-align: left;
        }
      }
    }
  }
}