.process-list{
  position: relative;
  margin: 150px auto 0;

  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;

    li{
      position: relative;

      b{
        width: 12px;
        height: 12px;
        display: block;
        position: relative;
        border-radius: 12px;
        border: 2px solid #1863A6;
        box-sizing: border-box;
        position: relative;

        .line{
          position: absolute;
          height: 0px;
          width: 50px;
          border: 2px solid #1863A6;
          left: 9px;
          top: 2px;
        }
      }
      span{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #1863A6;
        position: absolute;
        transform: translate(-50% + 8);
      }
      p{
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #1863A6;
        position: absolute;
        transform: translate(-50% + 6);
        width: max-content;
      }
      &.down{
        
        span{
          top: 20px;
        }
        p{
          top: -65px;
        }
      }
      &.up{
        
        span{
          top: -22px;
        }
        p{
          top: 50px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .process-list{
    margin-top: 170px;
  }
}